[access "refs/*"]
  read = group asgard-microservice
  owner = group core-asgard-microservice
[access "refs/heads/*"]
  label-Code-Review = -1..+1 group asgard-microservice
  label-Code-Review = -2..+2 group core-asgard-microservice
  label-Verified = -2..+2 group core-asgard-microservice
  label-Workflow = -1..+1 group core-asgard-microservice
  label-Workflow = -1..+0 group Registered Users
  submit = group core-asgard-microservice
  read = group core-asgard-microservice
  read = group asgard-microservice
  read = group Registered Users
[access "refs/meta/config"]
  read = group core-asgard-microservice
  read = group Registered Users
[receive]
  requireChangeId = true
[submit]
  mergeContent = false
  action = fast forward only
[project]
        description = This project is relative to the Asgard Team
